<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!--配置dubbo对外提供服务的端口号-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>
	<!--给当前服务起个名-->
	<dubbo:application name="pinyougou-sellergoods-service"/>  
	<!--包扫描, 只有在扫描到的这个包下面写service的实现类, 实现类上写@Service注解才会生效, 才会被发布成服务-->
    <dubbo:annotation package="cn.itcast.core.service" />
   
   
</beans>